<h1>Listing stocks</h1>

<table>
  <tr>
    <th>Code</th>

  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= link_to "#{stock.code}#{riselabel(stock)}", stockurl(stock.code,stock.stamp), :target=>'_blank' %></td>

  </tr>
<% end %>
</table>

<br />
