<form accept-charset="UTF-8" action="/rlngs" method="post">
<p>请输入R语句：</p>
<textarea cols=50 rows=10 name="Rtest" id="Rtest">
x <- rnorm(10)
summary(x)
a <- sd(x)</textarea>
<p></p>
<input name="commit" type="submit" value="运行R" />
</form>